*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
}

.content {
  width: 1200px;
  height: 800px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.search-form {
  width: 711px;
  display: flex;
  justify-content: space-between;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.search-form__label {
  width: fit-content;
}
.search-form__label-text {
  padding: 0px;
}
.search-form__label:hover {
  text-decoration-line: underline;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  width: 225px;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 1px;
}

.search-form__label:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}
.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  height: 100%;
  width: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 5px;
}
.content__accent {
  color: #545050;
}

.button {
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  padding-left: 73.5px;
  padding-right: 73.5px;
  align-self: flex-end;
}
.button:hover {
  text-decoration-line: underline;
}
.button:active {
  border: 1px solid #fff;
  background: #545050;
}
.content__list {
  height: 534px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  margin: 0;
  padding: 0;
}

.content__list-item {
  height: 103px;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}
.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-shrink: 0;
}
.content__video-card:active {
  background-color: #545050;
}
.content__video-card:hover {
  text-decoration-line: underline;
}
.content__video-card:focus {
  border: none;
}
.content__video-card:focus-visible {
  border: 1px solid #fff;
}
.content__video-card-description {
  padding-top: 2px;
}
.content__video-card-description-container {
  width: 194px;
}

.content__video-card-title {
  font-family: "Oswald", "sans-serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
